NODE_ENV=production
PORT=10006
APP_URL=https://backend.winnerlub.uz

CORS_ORIGIN=*
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=winnerlub
DB_PASSWORD=lH1nE7fY4a
DB_NAME=winnerlub
DB_SYNCHRONIZE=true
DB_POOL_MAX=10

JWT_SECRET=lB9ZHjboq6Y1fTLd7A3CxSuhyNWM4rkp2sJXzOGn80DaKRIUE5vicQmwVPtFge
JWT_EXPIRES_IN=7d

SUPERADMIN_USERNAME=winner_admin
SUPERADMIN_PASSWORD=r%UYJZLusYtv4qqx$k&k

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
CONTACT_EMAIL=info@winner.uz
